# User-specific stuff
.idea/*

# Target folder
target/

# Ignore allure directories
.allure/
allure-results/

# Ignore contents of screenshots directory
screenshots/*

mservice-e2e-tests.iml
/.flattened-pom.xml
/*.log
/*.mdmp

